<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Membres</title>
    <style>
        .message {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <a href="{% url 'app_bibliothecaire:home_bibliothecaire' %}">Retour au menu</a>
    <h1>Liste des membres</h1>

    <!-- Vérifie s'il y a des messages dans la file d'attente qui sont ajoutés via messages.success de Django -->
    <!-- Si des messages sont présents, le bloc <div class="message" est exécuté -->
    {% if messages %}
        <div class="message">
            <!-- Boucle parcourant tous les messages stockés dans la file d'attente -->
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    <!-- Fin de la condition, si plus de message présent dans la file d'attente, rien ne s'affiche -->
    {% endif %}

    <ul>
      <!-- Boucle pour afficher tous les membres à travers la balise <li>  -->
      {% for membre in membres %}
      <li>
          <p>Nom : {{ membre.name }}</p>
          <p>Prénom : {{ membre.first_name }}</p>
          <p>Email : {{ membre.email }}</p>
          <p>Téléphone : {{ membre.phone }}</p>
          <p>Créé le : {{ membre.creation_date|date:"d F Y" }}</p>

          <button><a href="{% url 'app_bibliothecaire:updatemembre' id=membre.id %}"> Modifier</a></button>
          <form action="{% url 'app_bibliothecaire:deletemembre' id=membre.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>

          <p><strong>Emprunts en cours :</strong></p>
          <ul>
            {% for emprunt in membre.emprunts_en_cours %}
            <li>
                <p>Média : {{ emprunt.media.name }}</p>
                <p>Date d'emprunt : {{ emprunt.date_emprunt|date:"d F Y" }}</p>
                <p>Date de retour prévue : {{ emprunt.date_retour_prevue|date:"d F Y" }}</p>
                <p>Status : {% if emprunt.date_retour_effective %}
                    Retour effectué le {{ emprunt.date_retour_effective|date:"d F Y" }}
                    {% else %} En cours {% endif %}</p>
            </li>
            {% empty %}
            <p>Aucun emprunt en cours.</p>
            {% endfor %}
          </ul>


      </li><br>
      {% endfor %}
    </ul>
</body>
</html>