<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliothecaire - Accueil</title>
</head>
<body>
    <h1>Page d'accueil pour les bibliothécaires !</h1>

    <p>Vous êtes connecté en tant que {{ user.username }}</p>

    <ul>
        <li><a href="{% url 'app_bibliothecaire:listmembres' %}">Liste des membres</a></li>
        <li><a href="{% url 'app_bibliothecaire:ajoutmembre' %}">Création d'un membre</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'app_bibliothecaire:listmedia' %}">Liste des médias</a></li>
        <li><a href="{% url 'app_bibliothecaire:ajoutmedia' %}">Création d'un média</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'app_bibliothecaire:creer_emprunt' %}">Création d'un emprunt</a></li>
        <li><a href="{% url 'app_bibliothecaire:retour_emprunt' %}">Retour d'un emprunt</a></li>
    </ul>

    <button>
        <a href="{% url 'home' %}">Retour au menu principal</a>
    </button>
    <br><br>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
</body>
</html>