<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Médias - Membre</title>
</head>
<body>
    <a href="{% url 'app_membre:home_membre' %}">Retour au menu</a>
    <h1>Liste des Médias</h1>

    <h2>Livres</h2>
    <ul>
        {% for book in books %}
        <li>
          <p>Titre : {{ book.name }}</p>
          <p>Auteur : {{ book.author }}</p>
          <p>Nombre de pages : {{ book.nb_pages }}</p>
          {% if book.current_loans %}
            <p style="color:red;">Média déjà en cours d'emprunt</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
        </li><br>
        {% endfor %}
    </ul>

    <h2>DVD</h2>
    <ul>
        {% for dvd in dvds %}
        <li>
          <p>Titre : {{ dvd.name }}</p>
          <p>Réalisateur : {{ dvd.author }}</p>
          <p>Genre : {{ dvd.genre }}</p>
          {% if dvd.current_loans %}
            <p style="color:red;">Média déjà est cours d'emprunt</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
        </li><br>
        {% endfor %}
    </ul>

    <h2>CD</h2>
    <ul>
        {% for cd in cds %}
        <li>
          <p>Titre : {{ cd.name }}</p>
          <p>Artiste : {{ cd.author }}</p>
          <p>Date de sortie : {{ cd.release_date }}</p>
          {% if cd.current_loans %}
            <p style="color:red;">Média déjà en cours d'emprunt</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
        </li><br>
        {% endfor %}
    </ul>

    <h2>Jeux de plateau</h2>
    <ul>
        {% for board in boards %}
        <li>
          <p>Nom du jeu : {{ board.name }}</p>
          <p>Créateur : {{ board.author }}</p>
          <p>Nombre de joueurs : de {{ board.number_players_min }} à {{ board.number_players_max}} joueurs</p>
          <p style="color: red; font-weight: bold;">Les jeux de plateaux ne sont pas disponibles à l'emprunt.</p>
        </li><br>
        {% endfor %}
    </ul>

</body>
</html>