<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un Emprunt</title>
</head>
<body>
    <a href="{% url 'app_bibliothecaire:home_bibliothecaire' %}">Retour au menu</a>
    <h2>Créer un Emprunt</h2>

    <!-- Formulaire pour filtrer -->
    <form method="get">
        {{ form.categorie.label_tag }}
        {{ form.categorie }}

    <button type="submit">Rechercher</button>
    </form><br>

    <form method="post">
        {% csrf_token %}
        {{ form.membre_id.label_tag }}<br>
        {{ form.membre_id }}<br><br>


        {{ form.media_id.label_tag }}<br>
        {{ form.media_id }}<br><br>

        {{ form.date_emprunt.label_tag }}<br>
        {{ form.date_emprunt }}<br><br>
        <button type="submit">Enregistrer l'emprunt</button>
    </form>

    {% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <p style="color:red;">
                {{ message }}
            </p>
        {% elif 'success' in message.tags %}
            <p style="color:green;">
                {{ message }}
            </p>
        {% else %}
            <p>
                {{ message }}
            </p>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>