<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste Medias</title>
</head>
<body>
    <a href="{% url 'app_bibliothecaire:home_bibliothecaire' %}">Retour au menu</a>
    <h1>Liste des Médias</h1>

    <h2>Livres</h2>
    <ul>
        {% for livre in livres %}
        <li>
          <p>Titre : {{ livre.name }}</p>
          <p>Auteur : {{ livre.auteur }}</p>
          <p>Nombre de pages : {{ livre.nb_pages }}</p>
          {% if livre.emprunt_en_cours %}
            <p>Emprunté par {{ livre.emprunt_en_cours.emprunteur.name }}
                {{ livre.emprunt_en_cours.emprunteur.first_name }}
                le {{ livre.emprunt_en_cours.date_emprunt|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ livre.emprunt_en_cours.date_retour_prevue|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=livre.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>DVD</h2>
    <ul>
        {% for dvd in dvds %}
        <li>
          <p>Titre : {{ dvd.name }}</p>
          <p>Réalisateur : {{ dvd.auteur }}</p>
          <p>Genre : {{ dvd.genre }}</p>
          {% if dvd.emprunt_en_cours %}
            <p>Emprunté par {{ dvd.emprunt_en_cours.emprunteur.name }}
                {{ dvd.emprunt_en_cours.emprunteur.first_name }}
                le {{ dvd.emprunt_en_cours.date_emprunt|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ dvd.emprunt_en_cours.date_retour_prevue|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=dvd.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>CD</h2>
    <ul>
        {% for cd in cds %}
        <li>
          <p>Titre : {{ cd.name }}</p>
          <p>Artiste : {{ cd.auteur }}</p>
          <p>Date de sortie : {{ cd.date_sortie }}</p>
          {% if cd.emprunt_en_cours %}
            <p>Emprunté par {{ cd.emprunt_en_cours.emprunteur.name }}
                {{ cd.emprunt_en_cours.emprunteur.first_name }}
                le {{ cd.emprunt_en_cours.date_emprunt|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ cd.emprunt_en_cours.date_retour_prevue|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=cd.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>Jeux de plateau</h2>
    <ul>
        {% for plateau in plateaux %}
        <li>
          <p>Nom du jeu : {{ plateau.name }}</p>
          <p>Créateur : {{ plateau.auteur }}</p>
          <p>Nombre de joueurs : de {{ plateau.nombre_joueurs_min }} à {{ plateau.nombre_joueurs_max}} joueurs</p>
        </li><br>
      {% endfor %}
    </ul>
</body>
</html>