<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste Medias</title>
</head>
<body>
    <a href="{% url 'app_bibliothecaire:home_bibliothecaire' %}">Retour au menu</a>
    <h1>Liste des Médias</h1>

    <h2>Livres</h2>
    <ul>
        {% for book in books %}
        <li>
          <p>Titre : {{ book.name }}</p>
          <p>Auteur : {{ book.author }}</p>
          <p>Nombre de pages : {{ book.nb_pages }}</p>
          {% if book.current_loans %}
            <p>Emprunté par {{ book.current_loans.borrower.name }}
                {{ book.current_loans.borrower.first_name }}
                le {{ book.current_loans.loan_date|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ book.current_loans.expected_return_date|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=book.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>DVD</h2>
    <ul>
        {% for dvd in dvds %}
        <li>
          <p>Titre : {{ dvd.name }}</p>
          <p>Réalisateur : {{ dvd.author }}</p>
          <p>Genre : {{ dvd.genre }}</p>
          {% if dvd.current_loans %}
            <p>Emprunté par {{ dvd.current_loans.borrower.name }}
                {{ dvd.current_loans.boorower.first_name }}
                le {{ dvd.current_loans.loan_date|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ dvd.current_loans.expected_return_date|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=dvd.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>CD</h2>
    <ul>
        {% for cd in cds %}
        <li>
          <p>Titre : {{ cd.name }}</p>
          <p>Artiste : {{ cd.author }}</p>
          <p>Date de sortie : {{ cd.release_date }}</p>
          {% if cd.current_loans %}
            <p>Emprunté par {{ cd.current_loans.borrower.name }}
                {{ cd.current_loans.borrower.first_name }}
                le {{ cd.current_loans.loan_date|date:"d/m/Y" }}</p>
            <p>Date de retour prévue avant le {{ cd.current_loans.expected_return_date|date:"d/m/Y" }}</p>
          {% else %}
            <p>Disponible à l'emprunt</p>
          {% endif %}
          <form action="{% url 'app_bibliothecaire:deletemedia' id=cd.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
      </li><br>
      {% endfor %}
    </ul>

    <h2>Jeux de plateau</h2>
    <ul>
        {% for board in boards %}
        <li>
          <p>Nom du jeu : {{ board.name }}</p>
          <p>Créateur : {{ board.author }}</p>
          <p>Nombre de joueurs : de {{ board.number_players_min }} à {{ board.number_players_max}} joueurs</p>
          <p style="color: red; font-weight: bold;">Les jeux de plateaux ne sont pas disponibles à l'emprunt.</p>
          <form action="{% url 'app_bibliothecaire:deletemedia' id=board.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
          </form>
        </li><br>
      {% endfor %}
    </ul>
</body>
</html>